@tailwind base;
@tailwind components;
@tailwind utilities;


.login-vh{
    height: 80vh;
}

.login-img{
    width: 30%;
}

.form-width{
    width: 40%;
}

@media only screen and (max-width: 1010px){
    .login-vh{
        height: initial;
    }
    .form-width{
        width:100%
    }

    .login-img{
        width: 100%;
    }
}